<div id="<%= dom_id slot %>">
  <p>
    <strong>Date:</strong>
    <%= slot.date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= slot.start_time %>
  </p>

  <p>
    <strong>Center:</strong>
    <%= slot.center_id %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= slot.capacity %>
  </p>

</div>
