


<div class="row">
  <div class="col-sm-6">
    <h1>Bookings</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_booking_path, class: 'btn btn-primary' do %>
    Add New Booking
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Resident</th>
            <th>Slot</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @bookings.each do |booking| %>
        <%= content_tag :tr, id: dom_id(booking), class: dom_class(booking) do %>
          

                      <td><%= booking.resident %></td>
                      <td><%= booking.slot %></td>
          
          
            <td><%= link_to 'Show', booking %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
